<div class="overview-set form-group row">
    <div class="col-lg-3">
        <select name="by[{{index}}]" class="form-control">
            {{#byOptions}}
                <option value="{{value}}" {{#selected}}selected="selected"{{/selected}}>{{text}}</option>
            {{/byOptions}}
        </select>
    </div>
    <div class="col-lg-3">
        <input name="value[{{index}}]" class="form-control" type="text" {{#valueDefault}}value="{{valueDefault}}"{{/valueDefault}}>
    </div>
    <div class="col-lg-3">
        <select name="match[{{index}}]" class="form-control">
            {{#matchOptions}}
                <option value="{{value}}" {{#selected}}selected="selected"{{/selected}}>{{text}}</option>
            {{/matchOptions}}
        </select>
    </div>
    <div class="col-lg-2">
        <select name="for[{{index}}]" class="form-control">
            {{#forOptions}}
                <option value="{{value}}" {{#selected}}selected="selected"{{/selected}}>{{text}}</option>
            {{/forOptions}}
        </select>
    </div>
    {{#closeable}}
    <div class="col-lg-1">
        <button onclick="remove_search_set(this);return false;" class="btn btn-danger form-control">x</button>
    </div>
    {{/closeable}}
</div>