<div class="search-set form-group row">
    <div class="col-lg-3">
        <select name="criteria[{{index}}]" class="form-control">
            {{#criteriaOptions}}
                <option value="{{value}}">{{text}}</option>
            {{/criteriaOptions}}
        </select>
    </div>
    <div class="col-lg-3">
        <input name="value[{{index}}]" class="form-control" type="text">
    </div>
    <div class="col-lg-3">
        <select name="match[{{index}}]" class="form-control">
            {{#matchOptions}}
                <option value="{{value}}">{{text}}</option>
            {{/matchOptions}}
        </select>
    </div>
    <div class="col-lg-2">
        <select name="logic[{{index}}]" class="form-control">
            {{#logicOptions}}
                <option value="{{value}}">{{text}}</option>
            {{/logicOptions}}
        </select>
    </div>
    {{#closeable}}
    <div class="col-lg-1">
        <button onclick="remove_search_set(this);return false;" class="btn btn-danger form-control">x</button>
    </div>
    {{/closeable}}
</div>