
.large-button {
	width: 118px;
	margin-top: 5px;
	margin-left: 0px;
	margin-right: 2px;
  margin-bottom: 1px;
	padding: 10px 15px;
	font-size: 13px;
	line-height: 100%;
	color: #fff;
	display:inline-block;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	transition: background 0.1s ease-in-out;
	-webkit-transition: background 0.1s ease-in-out;
	-moz-transition: background 0.1s ease-in-out;
	-ms-transition: background 0.1s ease-in-out;
	-o-transition: background 0.1s ease-in-out;
	color: #000;
	border-radius: 5px;
}

.large-button:active {
	padding-top: 10px;
        margin-bottom: -1px;
        padding-bottom: 12px;
}
.large-button:hover, .large-button:active {
	outline: 0 none;
	text-decoration: none;
	color: #777;
}

.find-button {
	width: 45px;
	margin-top: 0px;
	margin-left: 5px;
	margin-right: 0px;
	padding: 8px 8px;
	font-size: 12px;
	line-height: 100%;
	text-shadow: 0 1px rgba(0, 0, 0, 0.4);
	color: #fff;
	display:inline-block;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	font-weight: bold;
	transition: background 0.1s ease-in-out;
	-webkit-transition: background 0.1s ease-in-out;
	-moz-transition: background 0.1s ease-in-out;
	-ms-transition: background 0.1s ease-in-out;
	-o-transition: background 0.1s ease-in-out;
	color: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

}

.find-button, .actions:hover, .actions:active {


	color: #000;
}
.anySizeButton{
    margin: 0px;
    width: auto;
    border: none;
}

.filelink-button {
	width: 40px;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	padding: 4px 4px;
	font-size: 12px;
	line-height: 100%;
	text-shadow: 0 1px rgba(0, 0, 0, 0.4);
	color: #fff;
	display:inline-block;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	font-weight: bold;
	transition: background 0.1s ease-in-out;
	-webkit-transition: background 0.1s ease-in-out;
	-moz-transition: background 0.1s ease-in-out;
	-ms-transition: background 0.1s ease-in-out;
	-o-transition: background 0.1s ease-in-out;
	color: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

}

.filelink-button, .filelink-button:hover, .filelink-button:active {
	outline: 0 none;
	text-decoration: none;
	color: #fff;
}

.green-button {
	background-color: #228b22;
}
.green-button:hover {
	background-color: #145314;
}
.green-button:active {

}

.red-button {
	background-color: #b22222;

}
.red-button:hover {
	background-color: #7d1818;
}
.red-button:active {

}

.pink-button {
	background-color: #ff6a80;

}
.pink-button:hover {
	background-color: #ff566f;
}
.pink-button:active {

}

.orange-button {
	background-color: #e69400;

}
.orange-button:hover {
	background-color: #b27300;
}
.orange-button:active {

}

.purple-button {
	background-color: #7a28a3;

}
.purple-button:hover {
	background-color: #4c1966;
}
.purple-button:active {

}

.blue-button {
	background-color: #0089cc;

}
.blue-button:hover {
	background-color: #0052cc;
}
.blue-button:active {

}

.darkorange-button {
	background-color: #d67b01;

}
.darkorange-button:hover {
	background-color: #7f4901;
}
.darkorange-button:active {

}
