
html {font-size: 100%; width: 100%}
body {background-color: rgba(252, 252, 252, 0.75);  font-family: 'Roboto', serif;
 color: #000000; font-size: 1em; line-height: 1.3; font-weight: 300}
h1, h2, h3, h4, h5 {font-family: 'Roboto Slab', serif; font-weight: 300}


label {font-weight: 500}


#sidebar {padding: 10px 0 0 10px; width: 250px; overflow-y: hidden}
#sidebar  ul {padding: 4px 0px; }
#sidebar li {display: block; float: none; padding: 0px; height: inherit; font-size: 1em; }
#sidebar li a { font-size: inherit;}
#sidebar ul > li >ul >li {font-size: 0.9em; padding:0 0 0 8px; font-weight: 300 }
#sidebar ul > li >ul {padding: 0}
#sidebar > ul > li {font-weight: 400; margin-top: 15px}
#sidebar h1 {margin-top: 30px}

h1 {text-shadow: none}
#container  {box-shadow: none;  margin: 0px; width: 84%; padding: 0}
#mainFrameDiv {left: 200px; width: 100%}
html {margin-left: 0; width: 99%}
form {margin-right: 0}

th {text-shadow: none}
form { margin: 0 auto}

header {margin: 0 auto; padding: 10px 20px}
input, select  {font-size: 0.9em!important}
header table td {border: 0px solid #ccc}
.noFormat * {
    margin: 5px;
}
.menu-link {display:none}
#expand-menu:hover #sidebar  {display: block; }
#expand-menu:hover + #mainFrameDiv {
    left: 200px
}

#resultsTable .abbr-button {color: black; text-shadow: none; border: 1px solid black; border-radius: 8px; padding: 3px 5px 3px 4px!important; 
margin: 0 2px; width: 40px }

.abbr-button:hover {    
    background-color: green;
}

th.Buttons {width: 175px}
#mainFrameDiv:hover - #expand-menu {}
#UserLoginForm {margin: 0 auto}
#UserLoginForm input[type="text"], #UserLoginForm input[type="password"] {display: inline-block; width: 40%; padding: 3px; margin:  0}
#UserLoginForm input[type="checkbox"] {width: 20px; margin: 0 0 0 130px; text-align: right}
#UserLoginForm label {display: inline-block; margin: 0 0 0 50px; text-align: left; width: 100px}
#UserLoginForm > label {width: 60%; margin: 0}
#UserLoginForm input[type="submit"] {margin-left: 150px; font-weight: 400}

.anySizeButton{font-weight: 400; margin-left: 10px; background-color: #999}

.editSampleVersion { width: 300px}
.editSampleVersion  label { display: inline-block; width: 70px; margin-top: -10px}

.noFormat.search td {width: 250px}
.noFormat.search label {width: 250px}
.noFormat.search input {width: 250px}
.noFormat.search .input.select {width: 250px}
#boxes * input, #boxes * select {max-width: 245px}
#expand-menu {margin-top: 0}

.table-striped>tbody>tr:nth-of-type(odd) { background-color: rgba(249,249,249, 0.4)!important }

#resultsTable {margin-left: 40px}

form div.Trow:nth-of-type(odd) {background-color: rgba(249,249,249, 0.6)!important;}
form {background-color: rgba(249,249,249, 0.4);}
.checkbox {padding-left: 40px!important;}
form div.Trow span {vertical-align: top;}

form .Trow span, form .Trow input, form .Trow textarea {display: inline-block;}
form .Trow span {width: 20%; max-width: 200px}
form .Trow input, form .Trow textarea {width: 95%;}
form .Trow  {width: 95%; display: block;}
form .Trow div {display: inline-block; width:75%; max-width: 800px}



#Compoundpfr_dataFindDataForm .checkbox input[type=checkbox], #SampleSetSearchSetForm .checkbox input[type=checkbox] {top: -7px}

#SampleSetSearchSetForm label {display: inline-block; margin-right: 0; min-width: 200px;}
#SampleSetSearchSetForm td label {display:table-cell; }
/* */
 form {padding: 15px; margin-bottom: 20px; max-width: 1100px }

 .graph table.search {margin: 0 auto; }
 .graph .noFormat.search td { width: 24%;}
 .graph .noFormat.search .input.select {
    max-width: 250px; width: 25%; min-width: 150px
}
 #sets, #graph-view  {margin: 0 auto; width: 80%; max-width: 1200px}

.analysisStyle label {display: inline-block; margin-right: 0; width: 170px; margin-left: 0; padding-left: 10px; vertical-align: top}

.analysisStyle input, .analysisStyle textarea {width: 60%}
.analysisStyle input[type=submit] {width: 100px}
.analysisStyle span {display: inline-block; margin-right: 0; width: 170px; margin-left: 0; font-weight: 500; padding-left: 10px}
.analysisStyle fieldset div:nth-of-type(odd) {background-color: rgba(249,249,249, 0.5)}
.analysisStyle fieldset .noFormat div:nth-of-type(odd) {background-color: rgba(249,249,249, 0.0)}
.analysisStyle fieldset {padding: 0}
.analysisStyle form {background-color: rgba(249,249,249, 0.3)!important}
.analysisStyle legend span {display: block; font-weight: 300; font-size: 16px; width: 100%}
.analysisStyle legend {padding-left: 10px}
.analysisStyle .noFormat input {width: 95%; margin: 0 0 0 10px; background-color: none;}
.analysisStyle .noFormat label {margin-bottom: 0; background-color: none;}
.analysisStyle .noFormat td {padding: 5px; background-color: rgba(249, 249, 249, 0.4); border: 4px solid rgba(249, 249, 249, 0.6);}
.analysisStyle .noFormat label {width: 100%;}
.analysisStyle ol {max-width:1100px; margin: 0 auto; padding-left: 20px}
.analysisStyle ol a {font-weight: 500; border-top-left-radius: 10px; border-top-right-radius: 10px}
.analysisStyle ol a.active{ border-bottom: 3px solid #888}

#AnalysisEditAnalysisForm .Trow span{width: 25%}
#AnalysisEditAnalysisForm .Trow div{width: 65%}

#help {padding: 20px 40px;}


.unknown-compounds {padding: 10px; margin-left: 15px;}
.info {margin-left: 15px; background-color: rgba(249,249,249, 0.5); padding: 10px; max-width: 800px}
.info p {margin-right: 0}

#resultsTable .find-button {padding: 4px;}
.noFormat td {padding: 10px 0;}
.noFormat {margin: 10px auto 0}

#GeneralScriptsForm div  { padding: 10px; width: 90%}
.scripts {margin: 0 auto; width: 95%}
.script-table {margin: 0 auto; width: 75%; max-width: 800px; min-width: 300px}

.script-table select {min-width: 200px; margin-left: 20%}

.viewSampleSet h2, .view h2 {font-family: Roboto; font-weight: 400; display: inline-block; font-size: 20px}
table.viewSampleSet tr:nth-of-type(odd) {background-color: rgba(249,249,249, 0.4)!important}
table.viewSampleSet td {padding: 7px; border: 1px solid}
header p, header table {margin: 20px 60px; background-color: rgba(249,249,249, 0.6); padding: 20px}
table.viewSampleSet, table.view {margin: 20px 60px;  padding: 20px}
header h2 {margin: 20px 60px; background-color: rgba(249,249,249, 0.8); padding: 20px;}
@media (max-width: 960px) {
  #sidebar { display: none}
  #mainFrameDiv {left: 10px; top: 30px}
#container  {width: 100%; }
.menu-link {display:block}
}


ol.nav {margin-left: 40px}
.nav-tabs>li>a {z-index:-999999}
