/*This is for the tabs */
ol {
    list-style-type: none;
    border-bottom: #444 ridge medium;
    padding: 1% 1% 2px 1%;
}
ol li{
    display: inline;

}
ol li a:hover{
    background-color: #AAA;
}
ol li a{
    font-weight: bold;
    color: black;
    background-color: #CCC;
    text-decoration: none;
    font-size: 1.5em;

    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    margin-left: 2px;
    padding: .3% 1% .3% 1%;

    cursor: pointer;

    border-top: #444 ridge medium;
    border-left: #444 ridge medium;
    border-right: #444 ridge medium;
}
a.active{
    background-color: #888;
}

.overlayContent{
    position: fixed;
    width: 400px;
    left: 20%;
    top: 30%;
    border-radius: 10px;
    padding:2px;
    background-color: rgba(249,249,249, 0.8);
    z-index:10;

}
